<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Total por Tipo de Inversión</title>
</head>
<body>
    <h1>Total por Tipo de Inversión</h1>
    <div>
        {{ graph|safe }}
    </div>
    <a href="/add_factura">
        <button>Agregar Factura</button>
    </a>
    <!-- <h1>Bienvenido al Sistema de Facturas</h1> -->
    <a href="/listado_facturas">
        <button>Ver Listado de Facturas</button>
    </a>
</body>
</html>